{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block active %}home{% endblock %}

{% block head %}
  <meta property="og:title" content="WOD13 - Home" />
  <script src="/static/js/home.js" type="application/javascript"></script>
{% endblock %}

{% block content %}
  <div class="server-info">
    <h1 class="site-title">World of Darkness XIII</h1>
    <div class="center" style="text-align: center">
        <p class="text-indent">welcome to the underground</p>

        <p class="text-indent">how was the fal</p>
    </div>

    <p class="tiny">my favourite song</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/3YxaaGgTQYM?si=k3nov3Br0w-_jsqD&autoplay=1" title="Evanescence" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <div class="stat-header">Total Players</div>
    <div v-cloak id="stat-total-players" class="stat-value">
    ${ server_totals.total_players.toLocaleString() }
    </div>

    <div class="stat-header">Total Rounds</div>
    <div v-cloak id="stat-total-rounds" class="stat-value">
    ${ server_totals.total_rounds.toLocaleString() }
    </div>

    <div class="stat-header">Total Connections</div>
    <div v-cloak id="stat-total-connections" class="stat-value">
    ${ server_totals.total_connections.toLocaleString() }
    </div>

    <a class="link" href="{{ cfg.WEBSITE["links"]["patreon"] }}" style="width: 323px; height: 72px; margin: 0 auto; text-align: center;"><img id="money" src="/static/gif/money.gif" alt="give money here"></img>

    <div class="progress-bg">
      <div class="progress-bar" :style="{width: budget.percent+'%'}">
        <h3 v-cloak v-if="'income' in budget" class="progress-raised">
          ${ "$" + budget.income.toLocaleString() + " / $" + budget.goal.toLocaleString() }
        </h3>
      </div>
    </div>

  </div>

  <div class="links">
    <div class="links-header">Servers</div>
    {% for server in cfg.SERVERS %}
        {% if not server["hidden"] %}
            {% if server["open"] %}
                <a class="link" href="/join/{{ server["id"] }}">{{ server["name"] }}</a>
            {% else %}
                <a class="link" style="color: var(--bee-gray); text-decoration: line-through;">{{ server["name"] }}</a>
            {% endif %}
        {% endif %}
    {% endfor %}
  </div>

  <div class="links" style="margin-top: 25px;">
    <div class="links-header">"Useful" Links</div>
    <a target="_blank" class="link" href="{{ cfg.WEBSITE["links"]["rules"] }}">WOD13 Rules</a>
    <a target="_blank" class="link" href="{{ cfg.WEBSITE["links"]["wiki"] }}">WOD13 Wiki</a>
    <a target="_blank" class="link" href="{{ cfg.WEBSITE["links"]["forum"] }}">WOD13 Forum</a>
    <a target="_blank" class="link" href="{{ cfg.WEBSITE["links"]["discord"] }}">Discord Server</a>
    <a target="_blank" class="link" href="{{ cfg.WEBSITE["links"]["github"] }}">Github Repository</a>
    <a target="_blank" class="link" href="{{ cfg.WEBSITE["links"]["starter-guide"] }}">New Player Guide</a>
    <a target="_blank" class="link" href="{{ cfg.WEBSITE["links"]["subreddit"] }}">SS13 Subreddit</a>
    <a target="_blank" class="link" href="{{ cfg.WEBSITE["links"]["patreon"] }}">Patreon Link</a>
    <a target="_blank" class="link" href="/linkpatreon">Link Patreon Account</a>
  </div>
{% endblock %}
