<!DOCTYPE html>
<html lang="en">
  <head>
    <meta property="og:type"  content="website" />
    <meta property="og:image" content="http://wod13.org/static/img/logo.png" />
    <meta property="og:url" content="{{ request.url }}" />
    <meta name="description"  content="{{ cfg.WEBSITE["description"] }}"/>
    <meta property="og:description" content="{{ cfg.WEBSITE["description"] }}" />

    {% block head %}

    {% endblock %}

    <script src="/static/js/dist/jquery-3.7.0.min.js" type="application/javascript"></script>
    <script src="/static/js/dist/date.min.js" type="application/javascript"></script>
    <script src="/static/js/dist/vue2.min.js" type="application/javascript"></script>
    <script src="https://kit.fontawesome.com/c04ca9b4bd.js" crossorigin="anonymous"></script>

    <script>
      window.api_base_url = '{{cfg.WEBSITE["api-base-url"]}}';

      Vue.options.delimiters = ['${', '}'];
    </script>

    <link   rel="stylesheet" href="/static/css/main.css">

    <title>WOD13 - {% block title %}{% endblock %}</title>
  </head>


  <body>
  <div id="container">
    <div id="nav">
      <a href="/" id="ac-home" class="nav-logo"><img id="nav-logo-img" src="/static/img/logo.png" alt="WOD13"> <span id="nav-logo-text"></span></a>
      <div id="nav-spacer">
        <p style="font-size: small;">“These violent delights have violent ends
            And in their triumph die, like fire and powder,
            Which as they kiss consume. The sweetest honey
            Is loathsome in his own deliciousness
            And in the taste confounds the appetite.
            Therefore love moderately; long love doth so;
            Too swift arrives as tardy as too slow.”
            ― William Shakespeare, Romeo and Juliet</p>
      </div>
    </div>

    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </div>

  <footer>WOD13 website made with &lt;3 originally by <a href="https://github.com/qwertyquerty" style="color:#cccccc;">qwerty</a> and then destroyed by <a href="https://github.com/XeonMations" style="color:#cccccc;">Xeon!</a></footer>
  </body>
</html>
